<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87826377938-amts1u2ja3allhfm73sh8ht8c664r2g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87826377938-amts1u2ja3allhfm73sh8ht8c664r2g2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87826377938-0fjn1fpcrb6ocs69h8b6npqsli5g6nlf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAW2WX03UcCwcaHsIrd4-VLj7GxTCxl-3M</string>
	<key>GCM_SENDER_ID</key>
	<string>87826377938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.soshnet</string>
	<key>PROJECT_ID</key>
	<string>sosh-net</string>
	<key>STORAGE_BUCKET</key>
	<string>sosh-net.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87826377938:ios:de162abdc09837af11110b</string>
</dict>
</plist>